.profile__image-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: black;
  opacity: 0;
}

.profile__image:hover .profile__image-background {
  opacity: 0.8; 
}